.nav-link{
  color: white;
}

nav, .navbar-toggler-icon{
  background-color: #0F4C81;
}

a:hover
{
  color: #bf55ec;
}

.translate-button{
  border: none;
  background-color: #0F4C81;
  float: right;
  outline: 0;
}

.brand
{
  width: 30px;
  height: 30px;
}
