<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #6C63FF;">
  <a class="navbar-brand" href="#">
    <img src="/assets/img/brand.png" class="brand" alt="">
  </a>

  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="resume">Resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="experience">Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
