<div class="container">
    <div class="row m-3">
        <div class="col-lg-4">
            <div>
                <img class="card-img-top" src="/assets/img/symfony.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{'exp.title-1' | translate}}</h5>
                    <p class="card-text">{{ 'exp.text-1' | translate }}</p>
                    <a href="#" class="btn btn-primary">{{'exp.btn' | translate}}</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div>
                <img class="card-img-top" src="/assets/img/girardetroux.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{'exp.title-2' | translate}}</h5>
                    <p class="card-text">{{ 'exp.text-2' | translate }}</p>
                    <a href="#" class="btn btn-primary">{{'exp.btn' | translate}}</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div>
                <img class="card-img-top" src="/assets/img/lesfilmsenpleinair.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{'exp.title-3' | translate}}</h5>
                    <p class="card-text">{{ 'exp.text-3' | translate }}</p>
                    <a href="#" class="btn btn-primary">{{'exp.btn' | translate}}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-3">
        <div class="col-lg-4">
            <div>
                <img class="card-img-top" src="/assets/img/chaletsetcaviar.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{'exp.title-4' | translate}}</h5>
                    <p class="card-text">{{ 'exp.text-4' | translate }}</p>
                    <a href="#" class="btn btn-primary">{{'exp.btn' | translate}}</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div>
                <img class="card-img-top" src="/assets/img/btssio.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{'exp.title-5' | translate}}</h5>
                    <p class="card-text">{{ 'exp.text-5' | translate }}</p>
                    <a href="#" class="btn btn-primary">{{'exp.btn' | translate}}</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div>
                <img class="card-img-top" src="/assets/img/openclassrooms.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{'exp.title-6' | translate}}</h5>
                    <p class="card-text">{{ 'exp.text-6' | translate }}</p>
                    <a href="#" class="btn btn-primary">{{'exp.btn' | translate}}</a>
                </div>
            </div>
        </div>
    </div>
</div>