<div class="container">
        <div class="marche-stp">
            <a href="mailto:mathias.micheli@outlook.fr">
                <h3 class="ml2">mathias.micheli@gmail.com</h3>
            </a>
        </div>
        <div class="row">
            <div class="col-4 text-left">
                <a href="https://github.com/mathias73">
                    <img src="/assets/img/github.svg" class="home-icon" alt="">
                </a>
            </div>
            <div class="col-4 text-center">
                <a href="https://www.linkedin.com/in/mathias-micheli/">
                    <img src="/assets/img/linkedin.svg" class="home-icon" alt="">
                </a>
            </div>
            <div class="col-4 text-right">
                <a href="mailto:mathias.micheli@outlook.fr">
                    <img src="/assets/img/mail.svg" class="home-icon " alt="">
                </a>
            </div>
        </div>
</div>
<img src="/assets/img/wave.svg" class="footer anime-home-img" alt="">

