<div class="container box">
    <div class="row">
        <div class="col-md-3">
            <img src="/assets/img/github.svg.png" class="brand-contact" alt="">
        </div>
        <div class="col-md-3 m-3 p-3">
            <a href="https://github.com/mathias73">https://github.com/mathias73</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img src="/assets/img/linkedin.png" class="brand-contact" alt="">
        </div>
        <div class="col-md-3 m-3 p-3">
            <a href="https://www.linkedin.com/in/mathias-micheli/">https://www.linkedin.com/in/mathias-micheli/</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img src="/assets/img/gmail.png" class="brand-contact" alt="">
        </div>
        <div class="col-md-3 m-3 p-3">
            <a href="mailto:mathias.micheli@outlook.fr">mathias.micheli@outlook.fr</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
            <img src="/assets/img/contact-pics.svg" alt="" class="image-home">
        </div>
    </div>
</div>


