<body>
<div class="container">
        <div class="marche-stp">
            <a href="mailto:mathias.micheli@outlook.fr">
                <p class="ml2">mathias.micheli@outlook.fr</p>
            </a>
        </div>
        <div class="row">
            <div class="col-lg-4 text-left">
                <div class="bg-image">
                    <img src="/assets/img/blob.svg" alt="">
                </div>
                <div class="over-image">
                    <a href="https://github.com/mathias73">
                        <img src="/assets/img/github-dark.svg" class="home-icon" alt="Github">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="bg-image">
                    <img src="/assets/img/blob (1).svg" alt="">
                </div>
                <div class="over-image">
                    <a href="https://github.com/mathias73">
                        <img src="/assets/img/linkedin-dark.svg" class="home-icon" alt="Linkedin">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 text-right">
                <div class="bg-image">
                    <img src="/assets/img/blob (2).svg" alt="">
                </div>
                <div class="over-image">
                    <a href="https://github.com/mathias73">
                        <img src="/assets/img/email-dark.svg" class="home-icon" alt="Mail">
                    </a>
                </div>
            </div>
        </div>
</div>


