.marche-stp{
  display: flex;
  width: 50%;
  height: 400px;
  margin: auto;
  align-items:center;
  justify-content:center;
}

.home-icon{
  height: 75px;
  width: 75px;
  }

.ml2{
  color: #2c3e50;
  font-size: xx-large;
  text-decoration: none;
}

.ml2:hover{
  background: linear-gradient(360deg, rgba(255,255,255,0) 25%, #4da0dc 25%);
  display: inline;
  text-decoration: none;
}

@media screen and (max-width: 640px) {
  .ml2{
    font-size: 27px;
  }
  .marche-stp{
    height: 200px;
  }
}

.bg-image{
  position: relative;
}

.over-image{
  position: absolute;
  top: 45%;
  left: 40%;
}

