<ul ngbNav #nav="ngbNav" class="nav-tabs justify-content-center">
  <li ngbNavItem>
    <a ngbNavLink>Home</a>
    <ng-template ngbNavContent>My Home</ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Resume</a>
    <ng-template ngbNavContent>My Resume</ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Experience</a>
    <ng-template ngbNavContent>My Experience</ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Contact</a>
    <ng-template ngbNavContent>My Contact</ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>
