.play-1, .play-2
{
  width:75px;
  height:75px;
  border-radius: 205px;
  background: #658DC6;
  box-shadow:  4px 4px 8px #5678a8,
  -4px -4px 8px #74a2e4;
  color: #F5B895;
  font-size: xx-large;
  margin-right: 5px;
  border: none;
  outline: 0;
}


span
{
  color: #F5B895;
}