<div class="container mt-sm-0 mt-lg-4">
    <div class="row box-cv mt-sm-0 mt-lg-4">
        <div class="col-md-6 mt-sm-0 mt-lg-4">
            <h3 class="text-cv">{{ 'presentation.name' | translate }}</h3>
            <img src="/assets/img/cv.jpg" class="rounded-circle" alt="">
        </div>
        <div class="col-md-6">
            <p class="text-cv">{{ 'cv.text' | translate }}</p>
            <h4 class="titre-cv">Contact</h4>
            <p class="text-cv">Age : 20 {{ 'cv.age' | translate }}</p>
            <p class="text-cv">{{ 'cv.adr' | translate }} Savoie, FRANCE</p>
            <p class="text-cv">Mail : <a href="mailto:mathias.micheli@outlook.fr" class="link-cv"> mathias.micheli@outlook.fr</a></p>
        </div>
    </div>
    <div class="row mt-sm-0 mt-lg-4">
        <div class="col-md-6 text-center mt-3">
            <button class="play-2">+</button><span>{{'cv.about' | translate}}</span>
        </div>
        <div class="col-md-6 box-cv anime-cv-2">
            <h4 class="titre-cv">{{ 'cv.about' | translate }}</h4>
            <p class="text-cv">{{ 'cv.abouttxt' | translate }}</p>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-6 box-cv anime-cv-1">
            <h4 class="titre-cv">{{ 'cv.env' | translate }}</h4>
            <p class="text-cv">Visual Studio Code
                PHP Storm, Visual Studio,
                Suite Office,
                Linux (Ubuntu, Antergos)</p>
        </div>
        <div class="col-md-6 text-center mt-3">
            <button class="play-1">+</button><span>{{'cv.env' | translate}}</span>
        </div>
    </div>
</div>
