.play-1, .play-2{
  width:75px;
  height:75px;
  border-radius: 205px;
  background: #34495e;
  box-shadow:  5px 5px 10px #2c3e50,
  -5px -5px 10px #3c546c;
  color: white;
  font-size: xx-large;
  margin-right: 5px;
}
span{
  color: white;
}