@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body
{
  height: 100%;
  background-color: #2c3e50;
}

body{
  margin: 15px;
}

h1,h2,h3,h4,h5,h6{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
}

p,a{
  color: white;
  font-family: 'Montserrat', sans-serif;
}


a:hover
{
  color: #bf55ec;
}



.text-cv{
  text-align: justify;
  color: white;
}

.titre-cv{
  text-align: center;
  color: white;
}

.box-cv
{
  background-color: #34495e;
  border-radius: 5px;
  margin-top: 5px;
  padding: 5px;
}

.link-cv
{
  color: white;
}

.link-cv:hover
{
  color: #bf55ec;
}




