@import "~bootstrap/scss/bootstrap";

html, body
{
  height: 100%;
}

body
{
  margin: 15px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.image-home
{
  bottom: 0;
  position: fixed;
}




