@import "~bootstrap/scss/bootstrap";

html, body
{
  height: 100%;
  margin: auto;
}

body
{
  margin: 15px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.image-home
{
  bottom: 0;
  position: fixed;
}

.brand
{
  width: 30px;
  height: 30px;
}



