<div class="container-fluid">
  <div class="row m-3">
    <div class="col-md-6">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/assets/img/enbg.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">{{ 'presentation.name' | translate }}</h4>
          <h5 class="card-subtitle">{{ 'presentation.title' | translate }}</h5>
          <p class="card-text">{{ 'presentation.text' | translate }}</p>
          <a routerLink="contact" class="btn btn-primary">Contact</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img class="image-home" src="assets/img/home-pics.svg" alt="Design picture">
    </div>
  </div>
</div>
