<div class="container mt-sm-0 mt-lg-5" >
  <div class="row m-3">
    <div class="col-12">
      <h1 class="text-left color-over font-size-title ">
        {{'presentation.name' | translate}}
      </h1>
    </div>
  </div>
     <div class="row m-3">
       <div class="col-12">
         <h3 class="text-left color-over font-size-txt">
           {{'presentation.title' | translate}} (not a designer)
         </h3>
       </div>
     </div>
  <div class="row m-3">
    <div class="col-12">
      <p class="text-left font-size-sec">
        {{'presentation.text' | translate}}
      </p>
    </div>
  </div>
  <div class="row m-3">
    <div class="col-12">
      <button type="button" class="button-color font-size-btn " >
        About me
      </button>
      <button type="button" class="button-color font-size-btn">
        Contact me
      </button>
    </div>
  </div>
</div>