<body>
<div class="container mt-sm-0 mt-lg-5 text-center">
    <div class="row">
        <div class="col-12">
            <img src="/assets/img/dev-icon.svg" alt="dev-icon" class="dev-icon">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <h1 class="font-size-title">
                <span class="color-over">Mathias Mich</span>eli
            </h1>
            <h3 class="font-size-txt">
                {{'presentation.title' | translate}} (not a designer)
            </h3>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <p class="text-center font-size-sec">
                {{'presentation.text' | translate}}
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <a routerLink="resume" class="font-size-btn button-color">
                {{'btn.abt' | translate}}
            </a>
            <a routerLink="contact" class="font-size-btn button-color">
                {{'btn.ctc' | translate}}
            </a>
        </div>
    </div>
</div>


