.button-color {
  color: white;
  outline: 0;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background: #222;
}

.button-color:hover {
  background: #4da0dc;
  color: black;
  text-decoration: none;
}

.dev-icon {
  height: 200px;
}